<h1>Analysis#view</h1>
  <div class="row">
<% @data[:headers].each do |header|%>
    <div class="column header"><%= header %></div>
<% end %>
  </div>
<% @data[:data].each do |row|%>
  <div class="row <%= if (row[-2].to_f < 0.05 and row[-1] > 0) then "highlight" end %>">
    <% row.each do |col| %>
    <div class="column"><%= col %></div>
    <% end %>
  </div>
<% end %>
